 body {
     background-color: orchid;
 }
 .box {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    border: 3px solid blue;
 }
 h1 {
     color: red;
     text-align: center;
 }